* {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: .5rem;
    padding-inline: 10em;
    text-align: center;
}
.details{
    margin: .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 10em;
}
.icontxt{
    font-size: .8em;
}
.header {
    margin: .5em;
    display: flex;
    flex-direction: row;
    gap: 4em;
    list-style: none;
}

.aa{
    text-decoration: none;
    list-style: none;
    color: rgb(17, 14, 14);
    font-size: .9em;
}
.contact{
    display: flex;
    height: 2em;
    width: 10em;   
    border: none; 
    background-color: rgb(176, 204, 123);
    text-decoration: none;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.contact:hover{
    background-color: rgb(97, 97, 218);
}
.home{
    background: url(./images/slider1.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    gap: 1em;
}
.btn{
    display: flex;
    height: 3em;
    width: 12em;   
    border: none; 
    background-color: rgb(178, 228, 86);
    text-decoration: none;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.btn:hover{
    background-color: white;
    color: black;
}
.about{
    display: flex;
    background-color: rgba(177, 176, 176, 0.253);
    height: 80vh;
    padding-inline: 10em;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.txt{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 2em;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 2em;
    padding-inline: 5em;
    margin: 4em;
}

.wrapper{
    background-color: rgba(196, 194, 194, 0.664);
    text-align: left;
    gap: 2em;
}
.detail{
    display: flex;
    flex-direction: column;
    gap: .5em;
    text-align: justify;
    justify-content: left;
    padding-inline: 1em;
    margin: 1em;
}
.news{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline: 5em;
    background-color: rgba(236, 233, 233, 0.411);
    padding: 5em;
    gap: 5em;
}
.late{
    margin-bottom: 2em;
    justify-content: center;
}
.contain{
    display: flex;
    flex-direction: row;
    gap: 3em;
    padding-inline: 5em;
}
.wrap{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    text-align: left;
    gap: 1.7em;
}
.wrap a{
    list-style: none;
    text-decoration: none;
    font-size: 1.7em;
    color: black;
}
.wrap a:hover{
    color: rgb(176, 204, 123);
}
:where(.wrap > img) {
    width: 100%;
    min-width: 20rem;
}
.author{
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.athdts{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.athname{
    display: flex;
    flex-direction: column;
}
.card{
    display: flex;
    flex-direction: column;
    padding-inline: 1.5em;
    text-align: left;
    gap: .5em;
}
.appoint{
    display: flex;
    flex-direction: row;
    min-height: 80vh;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.appimg img{
    width: 100%;
    margin: .5em;
}
.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    gap: 1em; 
    padding-inline: 4em;
    margin: 3em;
    align-items: center;
    justify-content: center;
}
.form h2{
    text-align: left;
    font-size: 3em;
}

.btnsub{
   display: flex;
    height: 3em;
    width: 12em;   
    border: none; 
    background-color: rgb(178, 228, 86);
    text-decoration: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1em;
}
.btnsub a{
    list-style: none;
    text-decoration: none;
    color: #fff;
}
.fmdts{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.fmdts input{
    border: none;
    border-radius: none;
    width: 20em;
    height: 2.5em;
    outline: none;
    background-color: rgba(230, 227, 227, 0.479);
    padding-inline: 1em;
    flex-wrap: wrap;
}
.fmarr{
    display: flex;
    flex-direction: row;
    gap: 2em;
}
.fnm{
    display: flex;
    flex-direction: column;
    width: 39em;
    text-align: left;
}
.fnm input {
    outline: none;
    border: none;
    background-color: rgba(230, 227, 227, 0.479);
    height: 3em;
    padding-inline: 1em;
    flex-wrap: wrap;
}
.fnm textarea{
    outline: none;
    border: none;
    background-color: rgba(230, 227, 227, 0.479);
    height: 10em;
    padding-inline: 1em;
    flex-wrap: wrap;
    padding-top: .5em;
}
.select{
    padding-inline: 2em;
    outline: none;
    border: none;
    width: 22em;
    height: 2.5em;
    background-color: rgba(230, 227, 227, 0.479);
}
.footer{
    display: flex;
    flex-direction: row;
    padding-inline: 10em;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin-bottom: 4em;
}
.cnt{
    display: flex;
    flex-direction: row;
}
.cntinf{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.cntinf img{
    border: none;
    width: 15%;
    border-radius: 100%;
}
.cntinf p{
    text-align: center;
    
}
.lvl1{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.lvl2{
    display: flex;
    flex-direction: column;
    gap: .3em;
}
.lvl2 a{
    text-decoration: none;
    list-style: none;
    color: rgb(19, 2, 2);
}
.lvl3{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.lvl4{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.map{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mapss{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.mapss iframe{
    border: none;
    width: 100%;
    height: 40vh;
}